body {
    background-color:blanchedalmond;
    text-align: center;
}

p {
    text-align: right;
    font-size: 30px;
    margin: 15px 50px 5px;
    padding: 0;
}

#calculator {
    background-color: lightgray;
    border: black solid 2px;
    border-radius: 10px;
    height: 475px;
    width: 350px;
    margin: 0 auto;
}

button {
    height: 70px;
    width: 70px;
    margin: 5px 3px;
    border-radius: 7px;
    font-size: 21px;
}

.wide {
    width: 148px;
}